<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>KellybmcgeeCom</title>
=======
  <title>Rails4</title>
>>>>>>> 5581ffa8ef1a6f472ed490e38fe524a73b147ff0
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
